<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sensors Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script>
        function update() {

            const form = document.getElementById('form');
            form.submit();
        }

        function scrollDown(){
            let sensorMessages = document.getElementById('sensorMessages');
            sensorMessages.scrollTop = sensorMessages.scrollHeight;
            let sensorData = document.getElementById('sensorData');
            sensorData.scrollTop = sensorData.scrollHeight;
        }

        $(document).ready(function () {
            setInterval(function () {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                console.log(queryString)

                if (urlParams.has('id')) {
                    update();
                }
            }, 3000);
        })

    </script>
</head>
<body onload="scrollDown()">
<div class="container px-4">

    <h2 class="title lead">
        Sensors Dashboard
    </h2>

    <button th:if="${id == null}" type="button" class="btn btn-primary mb-4" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
        Add sensor
    </button>

    <form method="get" th:action="@{/dashboard}">
        <button th:if="${id != null}" type="submit" class="btn btn-primary mb-4">
            Go back
        </button>
    </form>

    <form method="get" id="form" th:action="@{/dashboard/{id}(id = ${id})}"
          th:object="${selectedSensor}">
        <select name="sensorId" id="sensorId" onchange="update()" th:hidden="${id!=null}">
            <option th:text="'Select sensor ->'" th:value="${null}" selected></option>
            <option th:each="s: ${sensorList}" th:value="${s.id}" th:text="${s.name}"></option>
        </select>
    </form>
    <div th:if="${sensor} != null">
        <h5 class="lead" th:text="${sensor.name}">

        </h5>
        <h6 class="lead" th:text="${sensor.sensorInfo}">

        </h6>
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">
                    <label for="sensorData" class="form-label">Sensor Data</label>
                    <textarea class="form-control" id="sensorData" rows="30"
                              th:text="${sensor.getSensorDataString()}"></textarea>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">
                    <label for="sensorMessages" class="form-label">Sensor Messages</label>
                    <textarea class="form-control" id="sensorMessages" rows="30"
                              th:text="${sensor.getSensorMessagesString()}"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/dashboard}" method="post" th:object="${sensorRequest}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Add Sensor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input th:field="*{name}" name="name" id="name" class="form-control mb-4"
                                   placeholder='Sensor name'/>
                            <input th:field="*{sensorInfo}" name="sensorInfo" id="sensorInfo"
                                   class="form-control mb-4"
                                   placeholder='Sensor description'/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>