<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7103782613206940"
            crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-7103782613206940">
    <meta charset="utf-8">
    <title>Sensors Dashboard</title>
    <meta name="description" content="Do you need to visualise data from your
     sensor? Explore our website to effortlessly create and monitor your data for FREE. Alternatively, leverage our
     versatile API to access data from public community sensors crafted by other users. © 2024 open-sensor-data.systems">
    <link rel="icon" href="https://i.ibb.co/p4ctFw5/download-3.jpg">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-dsv@3.0.1/dist/d3-dsv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script type="text/javascript" th:src="@{/js/genre-selector.js}"></script>
    <script type="text/javascript" th:src="@{/js/validate-input.js}"></script>
    <script type="text/javascript" th:src="@{/js/validate-input-on-click.js}"></script>
    <script type="text/javascript" th:src="@{/js/interval-module.js}"></script>
    <script type="module" th:src="@{/js/create-chart.js}"></script>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/articles-badges-images.css" rel="stylesheet"/>
    <link href="/css/contact-details-icons.css" rel="stylesheet"/>
    <link href="/css/line-awesome.css" rel="stylesheet"/>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E6LJ9Z829W"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-E6LJ9Z829W');
</script>
<body>
<div class="container px-4">
    <header class="p-3 mb-3 border-bottom lead">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class="d-flex flex-wrap align-items-center">
                    <span class="bs-icon-md bs-icon-rounded bs-icon-primary shadow d-flex justify-content-center align-items-center pulse animated me-2 bs-icon"><img
                            class="rounded shadow" src="https://i.ibb.co/p4ctFw5/download-3.jpg" alt="download-3"
                            data-is360="0"
                            style="width:50px;height:50px;display:block;"></span>
                    <span>Open Sensor Data</span>
                </div>

                <ul class="nav col-md-5 justify-content-end">
                    <li class="nav-item"><a href="/dashboard" class="nav-link px-2 text-muted">Dashboard</a></li>
                    <li class="nav-item"><a href="/dashboard/sensors/1" class="nav-link px-2 text-muted">Sensors</a>
                    </li>
                    <li class="nav-item"><a href="/dashboard/user-sensors/1" class="nav-link px-2 text-muted">My
                        Data</a></li>
                    <li class="nav-item"><a href="/dashboard/about" class="nav-link px-2 text-muted">About</a></li>
                    <li class="nav-item"><a href="/dashboard/tutorial" class="nav-link px-2 text-muted">Tutorial</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div th:if="${about == true}" class="alert alert-light" role="alert">
        <h2 class="text-center">About</h2>
        <p>
            Open Sensor Data, your go-to platform for seamlessly generating and overseeing data from your sensors, all
            at no cost. Experience the ease of crafting and monitoring your sensor data effortlessly.
            Whether you're setting up sensors for your community or tapping into the collective data from
            public sensors, our API makes the process a breeze. Join us in unlocking the full potential of
            sensor technology with Open Sensor Data.

            To contact us, please send an email to opensensordata@gmail.com.
        </p>
    </div>

    <div th:if="${tutorial == true}" class="alert alert-light" role="alert">
        <h2 class="text-center">Tutorial</h2>
        <div class="alert alert-info" role="alert">

            In our beginner's tutorial, we will use the LOLIN(WEMOS) D1 Pro Mini MCU (microcontroller) and the DHT22
            sensor.

            First, we will connect our MCU to the DHT22 sensor. To do this, we need to connect the DHT22 data pin to the
            MCU's GPIO (General-purpose input/output) D7, also called pin 13. Next, we connect GND to GND and the
            DHT22's
            VCC pin to the MCU's 3v3 pin.

            Connections:
            <table>
                <thead>
                <td>MCU pins</td>
                <td>DHT22 pins</td>
                </thead>
                <tbody>
                <tr>
                    <th>D7</th>
                    <th>DATA</th>
                </tr>
                <tr>
                    <th>GND</th>
                    <th>GND</th>
                </tr>
                <tr>
                    <th>3v3</th>
                    <th>VCC</th>
                </tr>
                </tbody>
            </table>

            After that, you can power your MCU in any way you want: from the battery or USB. At the moment, we are only
            powering our MCU by USB.

            We used the Arduino IDE to program the microcontroller.
            Go to File > Preferences... and in the "Additional boards manager URLs" field, add the URL to import the
            ESP8266 package:
            <div class="alert alert-light" role="alert">
                http://arduino.esp8266.com/stable/package_esp8266com_index.json
            </div>

            Next, you need to download the esp8266 git repository and navigate to the certs-from-mozilla.py script to
            get the trusted CAs.
            <div class="alert alert-light" role="alert">
                https://github.com/esp8266/Arduino
            </div>

            run script certs-from-mozilla.py
            <div class="alert alert-light" role="alert">
                cd "{ your-path }\Arduino-master\libraries\ESP8266WiFi\examples\BearSSL_CertStore"
                python certs-from-mozilla.py
            </div>
            Get the folder with the generated data and add it to your Arduino sketch folder.

            Next we need to generate your certificate with tool cert.py:
            <div class="alert alert-light" role="alert">
                cd "{ your-path }\Arduino-master\tools"
                python cert.py -s open-sensor-data.systems
            </div>
            Import generated certs.h to sketch folder (Sketch > Add File...).

            certs.h example:
            <div class="alert alert-light" role="alert" style="white-space: pre-line" th:text="${cert}"></div>

            Now copy and paste our code to get data and upload to our service. Dont forget to change Wifi credentials,
            sensor id and your key.

            Firstly, our device connects to wifi and sends a message to our service that the device is connected, and
            also initialises the
            the LED pin. In the loop method, if our device has been connected to Wi-Fi, we turn on the LED and read the
            humidity and temperature
            from the sensor. In the loop method, we read the humidity and temperature from the sensor and send this data
            to the service.
            <div class="alert alert-light" role="alert" style="white-space: pre-line" th:text="${tutorialCode}"></div>

            Upload the Arduino code to the MCU and check for any exceptions in the Serial Monitor (Tools > Serial
            Monitor and select the 115200 baud option).
            If your data is displaying in our website you completed this tutorial. Well Done!

            If you have any questions or suggestions, please contact opensensordata@gmail.com.
        </div>
    </div>

    <div th:if="${create_key == true}" class="alert alert-info" role="alert">
        Your key is:
        <div class="alert alert-light" role="alert" th:text="${keyBody.getKey()}"></div>
    </div>

    <div th:if="${id == null and sensors_dashboard == true}" class="alert alert-info" role="alert">
        Here you can add a new sensor (measuring device) or go to the existing open sensor data in the list or by
        using url:
        <div class="alert alert-light" role="alert">
            /dashboard/sensor/{ your sensor id }
        </div>
        Also we have API where you can get data in JSON and CSV format. Firstly, get key to make request:
        <li><a href="/dashboard/register-key" class="nav-link px-2 text-muted">Get key</a></li>

        And use key for this endpoints to get data:
        <div class="alert alert-light" role="alert">
            /dashboard/sensor/{ your sensor id }/json/{ your key }
        </div>
        <div class="alert alert-light" role="alert">
            /dashboard/sensor/{ your sensor id }/csv/{ your key }
        </div>

        To upload data or messages from your sensors use this endpoints:
        <div class="alert alert-light" role="alert">
            /api/v1/sensor-data
        </div>
        <div class="alert alert-light" role="alert">
            /api/v1/sensor-messages
        </div>
        you can do 30 requests in 1 minute and if you exceed your limit website will return you http status code:
        204 no content.
    </div>

    <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal"
            data-bs-target="#createSensor" th:if="${sensor == null and id == null and sensors_dashboard == true}">
        Add sensor
    </button>

    <form method="get" id="backtosensor" th:action="@{/dashboard/sensor/{id}(id = ${id})}">
        <button th:if="${chart == true}" type="submit" class="btn btn-info mb-4">
            Go back
        </button>
    </form>

    <form method="get" id="formc" th:action="@{/dashboard/sensor/{id}/chart(id = ${id})}">
        <button th:if="${chart == false && sensor != null}" type="submit" class="btn btn-info mb-4 float-right">
            Visualized data
        </button>
    </form>

    <div th:if="${sensor} != null and ${chart} == true">
        <h6 class="text-muted card-subtitle mb-2"
            th:text="${'Sensor: '+ sensor.sensorTypes}"></h6>
        <h6 class="text-muted card-subtitle mb-2"
            th:text="${'Placement: ' + sensor.placements}"></h6>
        <h6 class="text-muted card-subtitle mb-2"
            th:text="${'Location: '+ sensor.country.name}"></h6>

        <div>
            <script type="text/javascript" th:src="@{/js/create-chart.js}"></script>
            <script type="text/javascript">
                window.onload = createChart;
            </script>
            <canvas id="chart"></canvas>
            <p class="mb-2">
                Chart showing recent data loaded dynamically. The individual data points can
                be clicked to display more information.
            </p>
            <p class="mb-2">
                Other types of visualisation are currently being developed!
            </p>
        </div>
    </div>

    <div th:if="${sensor} != null and ${chart} == false">
        <h6 class="lead" th:text="'Sensor: ' + ${sensor.sensorTypes}"></h6>
        <h6 class="lead" th:text="'Placement: ' + ${sensor.placements}"></h6>
        <h6 class="lead" th:text="'Location: ' + ${sensor.country}"></h6>

        <div class="row gx-5 mb-2">
            <div class="col data-area">
                <div class="p-3 border bg-light">
                    <label for="sensorData" class="form-label">Sensor Data</label>
                    <textarea class="form-control" id="sensorData" rows="15"></textarea>
                </div>
            </div>
            <div class="col data-area">
                <div class="p-3 border bg-light">
                    <label for="sensorMessages" class="form-label">Sensor Messages</label>
                    <textarea class="form-control" id="sensorMessages" rows="15"></textarea>
                </div>
            </div>
        </div>

        <form th:if="${userIsCreator == true}" th:method="delete" id="removealldata"
              th:action="@{/dashboard/sensor/{id}/data(id = ${id})}">
            <button type="submit" class="btn btn-danger mb-2">
                Delete All Data from Sensor
            </button>
        </form>
    </div>

    <section th:if="${sensorsData == true}" style="padding-bottom: 54px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto" style="margin-bottom: 4px;padding-top: 40px;">
                    <h2>Public sensors</h2>
                    <p class="w-lg-50"></p>
                </div>
            </div>
            <form method="get" id="formc2" th:action="@{/dashboard/user-sensors/1}">
                <button type="submit" class="btn btn-info mb-4">
                    My Sensors
                </button>
            </form>
            <div th:if="${sensors.isEmpty()}" class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto" style="margin-bottom: 4px;padding-top: 40px;">
                    <h2 class="text-muted">No sensors available yet</h2>
                </div>
            </div>
            <div class="flow">
                <div style="padding-bottom: 0px;margin-bottom: 14px;"
                     th:each="sensor : ${sensors}">
                    <div class="card sensor-body">
                        <div class="card-body text-start text-bg-light">
                            <h6 class="text-muted card-subtitle mb-2"
                                th:text="${'Sensor: '+sensor.sensorTypes}"></h6>
                            <h6 class="text-muted card-subtitle mb-2"
                                th:text="${'Placement: ' + sensor.placements}"></h6>
                            <h6 class="text-muted card-subtitle mb-2"
                                th:text="${'Location: ' + sensor.country.name}"></h6>
                            <p class="card-text"></p>
                            <form method="get" id="formcd" th:action="@{/dashboard/sensor/{id}(id = ${sensor.id})}">
                                <button type="submit"
                                        class="btn btn-info btn-sm float-right text-end d-xxl-flex justify-content-xxl-end align-items-xxl-center card-link">
                                    Show Data
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <nav th:if="${pageCount > 1}" class="d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" th:with="currentPage=${currentPage - pagCount}"
                           th:href="@{/dashboard/sensors/{currentPage}(currentPage = ${currentPage})}"
                           th:if="${currentPage > 1}">
                    <span
                            aria-hidden="true">«</span></a></li>
                    <li th:each="key: ${sensorsKeys}" class="page-item">
                        <a class="page-link"
                           th:href="@{/dashboard/sensors/{currentPage}(currentPage = ${key.intValue()})}"
                           th:text="${key.intValue()}"></a></li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" th:with="currentPage=${currentPage + pagCount}"
                           th:href="@{/dashboard/sensors/{currentPage}(currentPage = ${currentPage})}"
                           th:if="${currentPage <= pageCount}">
                            <span aria-hidden="true">»</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section th:if="${userSensorsData == true}" style="padding-bottom: 54px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto" style="margin-bottom: 4px;padding-top: 40px;">
                    <h2>My Sensors</h2>
                    <p class="w-lg-50"></p>
                </div>
            </div>
            <form method="get" id="formc3" th:action="@{/dashboard/sensors/1}">
                <button type="submit" class="btn btn-info mb-4">
                    Public Sensor Data
                </button>
            </form>
            <div th:if="${sensors.isEmpty()}" class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto" style="margin-bottom: 4px;padding-top: 40px;">
                    <h2 class="text-muted">No sensors available yet</h2>
                </div>
            </div>
            <div class="flow">
                <div style="padding-bottom: 0px;margin-bottom: 14px;"
                     th:each="sensor : ${sensors}">
                    <div class="card sensor-body">
                        <div class="card-body text-start text-bg-light">
                            <h6 class="text-muted card-subtitle mb-2"
                                th:text="${'Sensor: '+sensor.sensorTypes}"></h6>
                            <h6 class="text-muted card-subtitle mb-2"
                                th:text="${'Placement: '+sensor.placements}"></h6>
                            <h6 class="text-muted card-subtitle mb-2"
                                th:text="${'Location: ' + sensor.country.name}"></h6>
                            <p class="card-text"></p>

                            <form method="get" id="formcd2"
                                  th:action="@{/dashboard/sensor/{id}(id = ${sensor.id})}">
                                <button type="submit"
                                        class="btn btn-info btn-sm float-right text-end d-xxl-flex justify-content-xxl-end align-items-xxl-center card-link">
                                    Show Data
                                </button>
                            </form>
                            <p class="card-text"></p>
                            <form method="get" id="formdd2">
                                <button type="button" data-bs-toggle="modal"
                                        th:data-bs-target="'#updateSensor'+ ${sensor.id}"
                                        class="btn btn-primary btn-sm float-right text-end d-xxl-flex justify-content-xxl-end align-items-xxl-center card-link">
                                    Update
                                </button>
                            </form>
                            <form th:method="delete" id="removesensor"
                                  th:action="@{/dashboard/sensor/{id}(id = ${sensor.id})}">
                                <button type="submit"
                                        class="btn btn-sm btn-danger d-flex float-left text-end d-xxl-flex justify-content-xxl-end align-items-xxl-center card-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                         fill="currentColor"
                                         class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                    </svg>
                                </button>
                            </form>
                            <div class="modal fade" th:id="'updateSensor'+ ${sensor.id}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form th:if="${userSensorsData!=null}"
                                              th:action="@{/dashboard/sensor/{id}(id=${sensor.id})}"
                                              th:method="post"
                                              th:object="${sensorRequest}">
                                            <div class="modal-header">
                                                <h5 class="modal-title" th:id="'modalTitle'+ ${sensor.id}">Update
                                                    Sensor</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <select th:field="*{country}" th:name="'select'+ ${sensor.id}"
                                                            th:id="'select'+ ${sensor.id}" class="form-control mb-4"
                                                            th:hidden="${id != null}">
                                                        <option th:if="${sensor.country == null}"
                                                                th:text="'Select country ->'" th:value="${null}"
                                                                selected></option>
                                                        <option th:if="${sensor.country != null}"
                                                                th:text="${sensor.country.name}"
                                                                th:value="${sensor.country.id}" selected></option>
                                                        <option th:each="country: ${countries}"
                                                                th:value="${country.id}"
                                                                th:text="${country.name}"></option>
                                                    </select>

                                                    <label for="sensors" class="form-label">What sensor do you have
                                                        that
                                                        you will use?</label>
                                                    <select class="js-example-basic-multiple mb-2"
                                                            th:name="'sensorTypes'+ ${sensor.id}"
                                                            th:id="'sensorTypes'+ ${sensor.id}"
                                                            th:field="*{sensorTypes}"
                                                            multiple="multiple"
                                                            data-placeholder="Select a sensor type" tabindex="-1"
                                                            aria-hidden="true"
                                                            th:onload="'setSelectValue(' + ${sensor.sensorTypes},'sensorTypes' + ${sensor.id} + ')'">
                                                        <option th:each="sensorType: ${sensorTypesList}"
                                                                th:value="${sensorType.id}"
                                                                th:text="${sensorType.name}"></option>
                                                    </select>

                                                    <label for="placements" class="form-label">How is your sensor
                                                        placed?</label>
                                                    <select class="js-example-basic-multiple mb-2"
                                                            th:name="'placement'+ ${sensor.id}"
                                                            th:id="'placement'+ ${sensor.id}"
                                                            th:field="*{placements}"
                                                            multiple="multiple"
                                                            data-placeholder="Select a placement" tabindex="-1"
                                                            aria-hidden="true"
                                                            th:onload="'setSelectValue(' + ${sensor.placements},'placement' + ${sensor.id} + ')'">
                                                        <option th:each="placement: ${placementsList}"
                                                                th:value="${placement.id}"
                                                                th:text="${placement.name}"></option>
                                                    </select>
                                                    <div class="form-check">
                                                        <label for="isPrivate" class="form-check-label">is
                                                            private?</label>
                                                        <input th:field="*{personal}"
                                                               th:name="'private' + ${sensor.id}"
                                                               th:id="'private'+ ${sensor.id}"
                                                               th:value="${sensor.personal}"
                                                               class="form-check-input mb-4" type="checkbox"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav th:if="${pageCount > 1}" class="d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" th:with="currentPage=${currentPage - pagCount}"
                           th:href="@{/dashboard/user-sensors/{currentPage}(currentPage = ${currentPage})}"
                           th:if="${currentPage > 1}">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="key: ${sensorsKeys}">
                        <a class="page-link"
                           th:href="@{/dashboard/user-sensors/{currentPage}(currentPage = ${key.intValue()})}"
                           th:text="${key.intValue()}"></a></li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" th:with="currentPage=${currentPage + pagCount}"
                           th:href="@{/dashboard/user-sensors/{currentPage}(currentPage = ${currentPage})}"
                           th:if="${currentPage <= pageCount}">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="modal fade" id="createSensor" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:if="${sensors_dashboard == true}" th:action="@{/dashboard}" th:method="post"
                      th:object="${sensorRequest}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Add Sensor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <select th:field="*{country}" name="select2" id="select2" class="form-control mb-4"
                                    th:hidden="${id != null}">
                                <option th:text="'Select country ->'" th:value="${null}" selected></option>
                                <option th:each="country: ${countries}" th:value="${country.id}"
                                        th:text="${country.name}"></option>
                            </select>

                            <label for="sensors" class="form-label">What sensor do you have that you will
                                use?</label>
                            <select class="js-example-basic-multiple mb-2"
                                    name="sensors" id="sensors" th:field="*{sensorTypes}"
                                    multiple="multiple"
                                    data-placeholder="Select a sensor type" tabindex="-1"
                                    aria-hidden="true">
                                <option th:each="sensorType: ${sensorTypesList}"
                                        th:value="${sensorType.id}" th:text="${sensorType.name}"></option>
                            </select>

                            <label for="placements" class="form-label">How is your sensor placed?</label>
                            <select class="js-example-basic-multiple mb-2"
                                    name="placements" id="placements" th:field="*{placements}"
                                    multiple="multiple"
                                    data-placeholder="Select a placement" tabindex="-1"
                                    aria-hidden="true">
                                <option th:each="placement: ${placementsList}"
                                        th:value="${placement.id}" th:text="${placement.name}"></option>
                            </select>
                            <div class="form-check">
                                <label for="isPrivate" class="form-check-label">is private?</label>
                                <input th:field="*{personal}" name="isPrivate" id="isPrivate"
                                       class="form-check-input mb-4" type="checkbox"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="d-flex flex-wrap justify-content-between align-items-center border-top">
    <ul class="nav justify-content-end">
        <li class="nav-item"><a href="/dashboard" class="nav-link px-2 text-muted">Dashboard</a></li>
        <li class="nav-item"><a href="/dashboard/sensors/1" class="nav-link px-2 text-muted">Sensors</a></li>
        <li class="nav-item"><a href="/dashboard/user-sensors/1" class="nav-link px-2 text-muted">My Data</a>
        </li>
        <li class="nav-item"><a href="/dashboard/about" class="nav-link text-muted">About</a></li>
        <li class="nav-item"><a href="/dashboard/tutorial" class="nav-link text-muted">Tutorial</a></li>
    </ul>
    <p class="text-muted">Copyright © 2024 open-sensor-data.systems - All Rights Reserved.</p>
    <a class="text-muted" href="/main/terms">Terms of Service</a>
    <a class="text-muted" href="/main/privacy">Privacy Policy</a>
</footer>
</body>
</html>